:root {
	--font-color: rgb(100, 100, 100);
	--font-light: rgb(148, 148, 148);
	--font-highlight: rgb(92, 144, 156);
	--product-color-1: rgba(100, 57, 57, 0.732);
	--product-color-2: black;
	--button-background: #444;
}

body {
	font-family: 'Karla', sans-serif;
	color: var(--font-color);
}

#container {
	padding: 1em 10em;
}

.logo {
	font-family: 'Playfair Display', serif;
	font-size: 1.4em;
	font-weight: 900;
}

.logo a, .navigation ul li a   {
	text-decoration: none; 
	color: var(--font-color);
}

.navigation ul li a:hover {
	color: var(--font-light);
}

/* Navigation */
nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.logo {
	margin: 0.5em 0em 0em 0.4em;
}

.navigation {
	text-align: right;
	padding-right: 0.7em;
}

.navigation ul {
	list-style-type: none; 
}

.navigation ul li {
	text-decoration: none;
	letter-spacing: .04em;
	display: inline;
	padding: 0.8em;
	text-transform: uppercase;
}

.last-nav-item {
	padding-right: 0.3em !important;
}

/* Products and Product Cards */
.cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.card {
	margin: 0.6em;
	margin-bottom: 1.2em;
}

.card img {
	max-width: 100%;
}

.card h5 {
	letter-spacing: 2px;
	margin: 1em 0 0.5em 0;
}

.card p {
	margin: 0;
	margin-bottom: 0.2em;
	text-transform: uppercase;
	font-size: 0.8em;
}

.link {
	text-decoration: none;
	color: var(--font-color)
}

.card p span {
	color: var(--font-highlight);
}

/* Product detail page */
.product {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.images-container img {
	max-width: 90%;
	padding-left: 0.7em;
	margin-bottom: 0.7em;
	margin-top: 1.5em;
}

.product-details h5 span {
	display: inline-block;
	border-bottom: 2px solid var(--font-light);
	padding-bottom: 2px;
}

button {
	background-color: var(--button-background);
	border: 1px solid var(--button-background);
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	padding: 0.5em 4em;
	margin-right: 1.5em;
}

button:hover {
	filter: brightness(150%);
}

form {
	margin-bottom: 1em;
}

input {
	margin-left: 0.5em;
	width:50px;
}

/* Homepage */
.home-container {
	padding: 0.6em;
}

.home-container img {
	max-width: 100%;
}

.text {
	font-size: 1.2em;
}
.first-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 4em;
}

.first-row img {
	justify-self: end;
}

.first-text {
	margin-top: 12em;
}

.second-row {
	position: relative;
	margin-bottom: 5em;
}

.second-text {
	float: left;
	position: absolute;
	left: 37.5%;
	top: 40%;
	z-index: 1000;
	color: white;
	font-size: 1.2em;
	margin-bottom: 1em;
}

.second-text button{
	background-color: white;
	color: var(--font-color);
	border: 1px solid white;
	font-weight: 400;
}

.second-text button:hover {
	opacity: 0.6;
	color: black;
}

.third-row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.third-row img {
	max-width: 90%;
	justify-self: end;
}


/* Discover */
.discover {
	margin-top: 5em; 
}

.discover hr {
	border: none;
	height: 1px;
	color: var(--font-light);
	background-color: var(--font-light);
}

.divider-title {
	text-align: center;
	margin-top: 3em;
	font-size: 1.1em;
}

.discover-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 3em;
}

.discover-container img {
	max-width: 100%;
}

.discover-card {
	margin: 1em;
	margin-bottom: 3em;
	justify-self: center;
}

.discover-card a {
	text-decoration: underline;
	color: var(--font-color);
	margin-right: 1em;
}

.discover-card a:hover {
	filter: brightness(150%);
}

/* Footer */
footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
	margin-top: 2em;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0.4em;
}

footer ul li a {
	text-decoration: none;
	letter-spacing: .04em;
	padding: 0.8em;
	color: var(--font-color);
	font-size: 0.8em;
}

footer ul li a:hover {
	filter: brightness(150%);
}

footer p {
	justify-self: end;
	text-align: right;
}

footer button {
	width: 15em;
	height: 5em;
	justify-self: end;
}

/* CART */
.cart-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	margin: 0.6em;
}

.product-preview {
	display: grid;
	grid-template-columns: 1fr 10fr;
	margin-bottom: 1em;
}

.product-preview img{
	max-width: 100%;
}

.product-preview p {
	margin: 0 0 0.2em 1em;
}


table {
	table-layout: fixed;
	margin-left: -0.2em;
}

tr {
	padding-bottom: 3em;
}
td {
	width: 50%;
}

.right {
	text-align: right;
}

.change-num-button {
	background-color: white;
	color: var(--font-color);
	border: none;
	padding: 0em 1em;
	margin: 0em;
}